<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-05-09T04:50:45Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mcr/Documents/Project/IOS/Challenge 2/SingUP/SingUP.xcodeproj</string>
</dict>
</plist>
